!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Karmayogi
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined', media: 'all'
    = javascript_include_tag 'application'
  %body
    %div.container
      %div.jumbotron
        %h1.text-center Karmayogi
        %div#site-alert.invisible
      = render partial: 'home/help'
      %div.row.mt-4
        %div.col
          %div.card
            %div.card-header
              Register Team
            %div.card-body
              = render partial: 'home/register_team_form'
        %div.col
          %div.card
            %div.card-header
              Get Team ID
            %div.card-body
              = render partial: 'home/get_team_id_form'
      %h6.mt-4
        Roadmap
      %ul.list-group
        %li.list-group-item
          Encrypt the communication using HMAC
        %li.list-group-item
          Get a domain and hosting space
        %li.list-group-item
          Increase scalability
        %li.list-group-item
          Feature to manage registered teams
        %li.list-group-item
          Extend to Slack
        %li.list-group-item
          Create Bot and a dedicated app
        %div.footer
          %hr
          Yogesh Kumar Muthuraj
        %button.btn.btn-link{ type: 'button' }
          %a{ href: 'https://github.com/yogeshmuthuraj' }
